<div class="row">
  <div class="col s12 center-align">
    <h3>Students Directory</h3>
  </div>
</div>

<div class="container">
  <ul class="collection">
    <% @students.each do |student| %>
    <li class="collection-item avatar">
      <i class="material-icons circle">person_outline</i>
      <span class="title"><strong>Name:</strong> <%= student.name.capitalize %></span>
      <p><strong>Email:</strong> <%= student.email %></p>
      <a href="#!" class="secondary-content"><i class="medium material-icons">assessment</i></a>
      <small><%= link_to "View Profile", student_path(student) %></small>
    </li>
    <%end %>
  </ul>
</div>