@import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.add_padding{
  padding-top: 3%;
}
// .error-messages{
//   padding: 0;
// }

